.consultation {
    min-height: 680px;
    padding: 92px 0;
    background: url(../img/back2.png) center center/cover no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
    .error {
        text-align: center;
        border: 1px solid $main-color;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}
.heading {
    padding-top: 70px;
    text-align: center;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 500;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
    }
}