.opinions {
    padding-bottom: 71px;
    &__item {
        display: flex;
        margin-top: 100px; 
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__img {
        min-width: 169px;
        height: 169px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__marafon {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        padding-top: 19px;
    }
}